<div class="row">
    <div class="col-md-8">
        <h3>Client Contacts</h3>
        <table class="table table-bordered">
            <thead class="contacts-table">
                <tr>
                    <th>Contact Name</th>
                    <th>Contact Number</th>
                    <th>Category Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="contacttable">

            </tbody>
        </table>
    </div>
    
    <div class="col-md-3" id="ac-newcontact">
        <div>
            <h4>Add Contact</h4>
        </div>
        <form action="#">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="Number">Contact Number</label>
                <input type="number" class="form-control" name="number">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="email">Category Name:</label>
                <select name="category" class="form-control">
                    <option value="GST Regular">GST Regular</option>
                    <option value="Income Tax">Income Tax</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Address:</label>
                <input type="text" class="form-control" name="address">
            </div><br>
            <button type="button" class="btn btn-default" onclick="addcontact()">Submit</button>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "getContacts",
        success: function (response) {
            response = JSON.parse(response);
            console.log(response);
            console.log(response[0].name);
            for (let index = 0; index < response.length; index++) {
                var contacts = "<tr><td><kbd>" + response[index].name + "</kbd></td>" +
                    "<td><kbd>" + response[index].number + "</kbd></td><td><kbd>" + response[index].category + "</kbd></td><td><kbd>" + response[index].email + "</kbd></td><td><kbd>" + response[index].address + "</kbd></td>" +
                    "<td><button type='button' onclick='editcontact()' class='btn btn-default'><i class='fa fa-edit' style='font-size:24px'></i></button></td><td><button type='button' onclick='deletecontact(" + response[index].contactid + ")' class='btn btn-default'><i class='fa fa-times-rectangle' style='font-size:24px'></i></button></td></tr>";
                $("#contacttable").append(contacts);
            }
        }
    });
    function editcontact() {
        // onclick='editcontact()'
        var res = confirm("Are you sure you want to edit this contact?");
        console.log("res ", res);
    }
    
</script>