<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <h3>Client Contacts</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Contact Name</th>
                <th>Contact Number</th>
                <th>Category Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody id="contacttable">

        </tbody>
    </table>
    <script>
        $.ajax({
            type: "GET",
            url: "getContacts",
            success: function (response) {
                response = JSON.parse(response);
                console.log(response);
                console.log(response[0].name);
                for (let index = 0; index < response.length; index++) {
                    var contacts = "<tr><td>" + response[index].name + "</td>" +
                        "<td>" + response[index].number + "</td><td>" + response[index].category + "</td><td>" + response[index].email + "</td><td>" + response[index].address + "</td></tr>";
                    $("#contacttable").append(contacts);
                }
            }
        });
    </script>
</body>

</html>