<div>
    <h3 class="gst-head">GSTR 3B</h3>
    <ul class="nav nav-pills gst-head" id="gst-headlist">
        <li class="nav-item">
            <a class="nav-link" href="#">CREATE GROUP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CREATE TASK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CREATE BULK TASK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CREATE CLIENT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">VIEW CLIENT LIST</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SHOW ALL TASKS</a>
        </li>
    </ul>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="card-deck gst-task-card">
            <div class="card">
                <div class="card-body text-left">
                    <p class="card-text"><a href="#">COMPLETED TASK</a></p>
                    <p class="card-text"><a href="#">PENDING TASK</a></p>
                    <p class="card-text"><a href="#">PRORITY TASK</a></p>
                    <p class="card-text"><a href="#">LONG DUE TASK</a></p>
                    <p class="card-text"><a href="#">NOT STARTED</a></p>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary colbutton" data-target="#collapseone" data-toggle="collapse">Pending issues with task
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-angle-down" style="font-size:18px;color:aliceblue"></i>
            </button>
            <div id="collapseone" class="collapse gst-col-one">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#">CREATE GROUP</a>
                    </li>
                </ul>
            </div>
        </div><br>
        <div>
            <button class="btn btn-primary colbutton" data-target="#collapsetwo" data-toggle="collapse">Checkwise pending task
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-angle-down" style="font-size:18px;color:aliceblue"></i>
            </button>
            <div id="collapsetwo" class="collapse gst-col-one">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#">CREATE GROUP</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="col-md-4">
        <div>
            <button class="btn btn-primary colbutton" data-target="#collapse3" data-toggle="collapse">Overall tasks at a glance
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-angle-down" style="font-size:18px;color:aliceblue"></i>
            </button>
            <div id="collapse3" class="collapse gst-col-one">
                
            </div>
        </div>
    </div>
</div>