<div id="return-filing-header-menu">
    <h3 class="return-filing-header">Return Filing</h3>
    <ul class="nav nav-pills return-filing-header" id="rf-menu">
        <li class="nav-item">
            <a class="nav-link" href="#">CREATE GROUP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CREATE TASK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CREATE BULK TASK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CREATE CLIENT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">VIEW CLIENT LIST</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SHOW ALL TASKS</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card-deck rf-cardone">
            <div class="card">
                <div class="card-body text-left">
                    <p class="card-text"><a href="#">COMPLETED TASK</a></p>
                    <p class="card-text"><a href="#">PENDING TASK</a></p>
                    <p class="card-text"><a href="#">PRORITY TASK</a></p>
                    <p class="card-text"><a href="#">LONG DUE TASK</a></p>
                    <p class="card-text"><a href="#">NOT STARTED</a></p>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" data-target="#rf-my-collapse" data-toggle="collapse" style="width:100%;font-size: 12px;
        text-align: left;font-family: cursive;">PENDING ISSUES WITH TASK &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-angle-down" style="font-size:18px;color:aliceblue"></i></button>
        <div id="rf-my-collapse" class="collapse">
                <div class="card-deck rf-cardone-coll">
                        <div class="card">
                            <div class="card-body text-left">
                                <p class="card-text"><a href="#">COMPLETED TASK</a></p>
                                <p class="card-text"><a href="#">PENDING TASK</a></p>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>