<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/customJS/userhome.js"></script>
    <link rel="stylesheet" href="/customCSS/userhome.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked sidebar">
                    <li><span class="glyphicon glyphicon-home"></span></li>
                    <li class="sidebar-list" id="calllist">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <div id="inner-calllist">
                        
                        </div>
                        
                    </li>
                    <li><span class="glyphicon glyphicon-envelope"></span></li>
                    <li><span class="glyphicon glyphicon-home"></span></li>
                    <li><span class="glyphicon glyphicon-th"></span></li>
                    <li><span class="glyphicon glyphicon-hourglass"></span></li>
                    <li><span class="glyphicon glyphicon-bitcoin"></span></li>
                    <li><span class="glyphicon glyphicon-cog"></span></li>
                    <li><span class="glyphicon glyphicon-stats"></span></li>
                    <li><span class="glyphicon glyphicon-list-alt"></span></li>
                </ul>

            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="userheader">
                    <h2 th:inline="text">
                        [[${companyname}]] <span class="glyphicon glyphicon-user"></span>
                    </h2>
                </div>


            </div>
        </div>
    </div>
</body>

</html>