<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/customJS/userhome.js"></script>
    <link rel="stylesheet" href="/customCSS/userhome.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li class="sidebar-list" >
                            <a href="#" id="calllist"><span class="glyphicon glyphicon-th-list"></span></a>
                            <ul class="nav nav-pills nav-stacked innerlist">
                                <li><a href="#"><p>Hello</p></a></li>
                                <li><a href="#"><p>World</p></a></li>
                            </ul>            
                        </li>
                        <li><a href="clientcontacts"><span class="glyphicon glyphicon-envelope"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-th"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-hourglass"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-bitcoin"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-stats"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span></a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="userheader">
                    <h2 th:inline="text" class="header-user">
                        [[${companyname}]] &nbsp;&nbsp;&nbsp;&nbsp;
                    </h2>
                    <div class="dropdown header-user">
                        
                        <span class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown"></span>
                        <ul class="dropdown-menu">
                          <li><a href="#">Logout</a></li>
                          <li><a href="#">Setting</a></li>
                        </ul>
                      </div>
                </div>


            </div>
        </div>
    </div>
</body>

</html>