<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/customJS/userhome.js"></script>
    <script src="/customJS/gstr3bcompletedtask.js"></script>
    <link rel="stylesheet" href="/customCSS/userhome.css">
    <link rel="stylesheet" href="/customCSS/gstr3b.css">
</head>

<body ng-app="myApp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <div class="sidebar" ng-controller="sidebarctrl">
                    <ul class="nav nav-pills nav-stacked" id="sidebarstack" ng-repeat="sidebardata in sidebardatas">
                        <li class="sidebar-list">
                            <a href="{{sidebardata.iconlink}}" id="calllist"><span ng-class="sidebardata.iconcssclass"></span></a>
                            <ul class="nav nav-pills nav-stacked innerlist">
                                <li ng-repeat="(headkey,headval) in sidebardata.mainhead"><a href="{{headval.link}}"
                                        style="{{headval.style}}">{{headkey}}
                                        <i style="font-size:24px;float: right;" ng-if="headval.subhead" class="fa">&#xf105;</i></a>
                                    <ul class="nav nav-pills nav-stacked nested-list">
                                        <li ng-repeat="(subheadkey, subheadval) in headval.subhead"><a href="{{subheadval.link}}" style="{{subheadval.style}}">{{subheadkey}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-11">
                <div>
                    <div id="userheader">
                        <h2 th:inline="text" class="header-user"><kbd style="background-color: #3339;">[[${companyname}]]
                            </kbd>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </h2>
                        <div class="dropdown header-user">

                            <span class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown"></span>
                            <ul class="dropdown-menu">
                                <li><a href="../logout">Logout</a></li>
                                <li><a href="#">Setting</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

                <hr id="header-partition">
                <div ng-view></div>

            </div>
        </div>

    </div>

</body>

</html>