.glyphicon {
    font-size: 21px;
    color: #703cd4;
    transition: .2s;
}
#userheader {
    float: right;
    margin-right: 45px;
}
.sidebar {
    margin-top: 20px;
    width: 133px;
    margin-left: -15px;
}
.innerlist{
    display: none;
    position: absolute;
    left: 127px;
    top: 0px;
    z-index: 1;
    width: 133px;
    transition: 2s;
}
.sidebar-list:hover .innerlist{
    display: inline-block;
}
.sidebar ul li a:hover  {
    background-color: black !important;
}
.sidebar ul li:hover .glyphicon{
    padding-left: 88px;
}
.sidebar ul li ul li{
    background-color: #337ab7 !important;
    height: 30px;
}
.header-user{
    display: inline-block;
}
.dropdown-menu{
    left: -60px;
    min-width: 90px;
}



